body {
    background-image: url(https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-size: cover ;
    background-repeat: no-repeat;
}



h2 {
    color: darkred;
    text-align: center;
    border: 5px dashed rgb(206, 5, 5);
    cursor: pointer;
}


p {
    color: green;
    line-height: 2;
    font-style: italic;
    font-weight: 800;
    font-size: 150%;
    font-family: 'Dancing Script', cursive;
}

li {    list-style: none;
    display: inline-block;
}

img {
    float: right;
}

footer {
    clear: both;
}

.boxmodel {
    border: 5px solid darkred; 
    display: inline-block;
    padding: 5px 10px 5px 20px;
    margin: 20px;
    width: 33px;
    height: 33px;
}